.lista{
	margin: 0px 100px;
	display: flex;
	flex-direction:row;
	justify-content: center;
}
#listaProductos{
	padding: 60px 10px;
}
form{
	margin: 100px 200px;
}
.form-control{
	margin: 5px;
}
.bnt{
	padding: 0px;
	border: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 20px;
	height: 20px;
}

table{
  margin: 60px 0px;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 20px; }
th:last-child,
td:last-child {
  padding-right: 20px; }

#newCat{
	margin-top: 60px;
}
.btnNew{
	margin-top: 37px;
}
#selectCost{
	width: 50%;
	margin-left: 15px;
}
#btnSelectCost{
	margin: 5px;
  width: 38px;
  height: 38px;
}